@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  color-scheme: light;
  scrollbar-width: thin;
}

input {
  outline: none;
}
